<header id="header" class="not-alt"> <!-- alt class enables old mode: initially disabled, shows after #banner -->
	<h1><a href="index.html">KSI UJ</a></h1>
	<div id="socialIcons">
		<a href="https://facebook.com/ksi.uj" class="fa-facebook"></a>
		<a href="https://instagram.com/ksiuj" class="fa-instagram"></a>
		<a href="https://github.com/KSIUJ" class="fa-github"></a>
	</div>
	<nav> 
		<a href="#menu" id="menu-button">Menu</a>
		<ul class="links">
			<li><a href="index.html">Strona główna</a></li>
			<li><a href="news.html">Aktualności</a></li>
			<li><a href="generic.html">O KSI</a></li>
			<li><a href="generic.html">Wydarzenia</a></li>
			<li><a href="generic.html">Projekty</a></li>
			<li><a href="#footer">Kontakt</a></li>
		</ul>
	</nav>
</header>