<header id="header" class="not-alt"> <!-- alt class enables old mode: initially disabled, shows after #banner -->
	<h1><a href="/">KSI UJ</a></h1>
	<div id="socialIcons">
		<a href="https://facebook.com/ksi.uj" class="fa-facebook"></a>
		<a href="https://instagram.com/ksiuj" class="fa-instagram"></a>
		<a href="https://github.com/KSIUJ" class="fa-github"></a>
	</div>
	<nav> 
		<a href="#menu" id="menu-button">Menu</a>
		<ul class="links">
			<li><a href="/">{% t 'menu.homepage' %}</a></li>
			<li><a href="/news/">{% t 'menu.news' %}</a></li>
			<li><a href="/about/">{% t 'menu.about' %}</a></li>
			<li><a href="/events/">{% t 'menu.events' %}</a></li>
			<li><a href="/projects/">{% t 'menu.projects' %}</a></li>
			<li><a href="#footer">{% t 'menu.contact' %}</a></li>
			<li><a href="/pl/">PL</a>/<a href="/en/">EN</a></li>	
		</ul>
	</nav>
</header>